td {
	text-align: left;
	vertical-align: top;
	font-family:Tahoma;
	font-size:9px;
	color:#4D4D4D;
}
form
{
	margin:0px;
}
a {

	text-decoration: none;
	color:#4D4D4D;
}
.blue
{
	color:#0066CC;
}
a.blue
{
	color:#0066CC;
	text-decoration:underline;
}
a.blue_none
{
	color:#0066CC;
	text-decoration:none;
}
.t11
{
	font-size:11px;
}